<?xml version='1.0' encoding='UTF-8'?>
<config>
    <new_branch_prefix></new_branch_prefix>
    <gitlab>
        <gitlab_url>http://pd-gitlab.toppanecquaria.com:10080</gitlab_url>
        <private_token></private_token>
        <assignee></assignee>
        <reviewer></reviewer>
        <title_template>{commit_message}</title_template>
        <description_template>## Description of Changes

{commit_message}

## Type of Change
(Please tick one)
- [x] Bug Fix
- [ ] Feature
- [ ] Refactoring
- [ ] Documentation
- [ ] Tests

## Taiga Number and link
TG-{tg_number_from_title}

## Checklist before review
- [x] I have performed a self-review of the code
- [x] No conflict with target branch</description_template>
    </gitlab>

<workspaces><workspace name="tecq-lowcode-editor" path="E:/lowcode/fe/tecq-lowcode-editor"><target_branch>SZ_dev</target_branch><target_branch>qa/r5-s1_5.1.1</target_branch></workspace><workspace name="tecq-lowcode-console-ice3" path="E:/lowcode/fe/tecq-lowcode-console-ice3"><target_branch>SZ_dev</target_branch></workspace></workspaces></config>
